name: Deploy to GCP VM with OS Login
on:
  workflow_call:
    secrets:
      GCP_SA_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: "Build and Deploy"
      run: |
        if [[ $GITHUB_REF_NAME == 'main' ]]; then
          GCP_PROJECT_ID=hecbilling-203521
          GCP_VM_ZONE=us-east1-b
          GCP_VM_NAME=billing-core-app   
        elif [[ $GITHUB_REF_NAME == 'test-actions' ]]; then
          GCP_PROJECT_ID=hecbilling-203521
          GCP_VM_ZONE=us-east1-b
          GCP_VM_NAME=billing-core-app   
        else
            echo "Error: Invalid branch name '$GITHUB_REF_NAME'. Valid branches are 'main' and 'test-actions'."
            exit 1
        fi


    - name: Deploy using OS Login
      run: |
        gcloud compute ssh ${{ secrets.GCP_VM_NAME }} \
          --zone ${{ secrets.GCP_VM_ZONE }} \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --command="
            cd /home/your-app
            git pull origin main
            sudo systemctl restart your-app
          "
